language: python
python:
    - "2.7"
sudo: false
cache: pip
before_install:
- chmod 755 ./.deploy-output.sh
install:
- pip install --upgrade setuptools        
- pip install pygments cssselect 'html5lib==0.9999999' lxml
- git clone --depth=100 --branch=master https://github.com/tabatkins/bikeshed.git ./bikeshed
# Use stable copy of bikeshed
- pushd ./bikeshed
- git checkout ef1ed8caf38d3c56a981cced49fd7d64f7fd4ed4
- popd
- pip install --editable ./bikeshed
# Use cached copy of bikeshed data files to give consistent builds
#- bikeshed update
- cp -R .spec-data/* ./bikeshed/bikeshed/spec-data
script: 'bikeshed spec'
after_success:
- '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && [ "${TRAVIS_BRANCH}" = "master" ] && ./.deploy-output.sh'

