name: CI
on:
  pull_request: {}
  push:
    branches: [main]

jobs:
  main:
    name: Build, Validate, and Publish
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: w3c/spec-prod@v2.12.2
        with:
          GH_PAGES_BRANCH: gh-pages
          BUILD_FAIL_ON: nothing
